<!DOCTYPE html>
<html>

<head>
    <title>Simple Navbar</title>
    <style>
        /* Internal CSS */
        body {
            margin: 0;
            font-family: Arial, sans-serif;
        }

        /* Navbar styles */
        .navbar {
            background-color: #333;
            overflow: hidden;
        }

        .navbar a {
            float: left;
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        .navbar a:hover {
            background-color: #ddd;
            color: black;
        }

        /* Optional: Add a "current" style to the active link */
        .active {
            background-color: #4CAF50;
            color: white;
        }
    </style>
</head>

<body>

    <div class="navbar">
        <a class="active" href="#">Home</a>
        <a href="/about">About</a>
        <a href="#">Services</a>
        <a href="#">Contact</a>
    </div>

    <h1>Welcome to <%- name %> website!</h1>
    <form action="/register" method="post">
        <input type="text" name="name" placeholder="Enter name"><br>
        <input type="password" name="password" placeholder="Enter password"><br>
        <button type="submit">Submit</button>
    </form>
  

</body>

</html>
